.katex-html {
    display: none !important;
}

.katex :not(a, strong, em, del, span, input, code, br)+ :not(a, strong, em, del, span, input, code, br, :where(.not-content *)) {
    margin-top: 0 !important;
}